@inherits UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind CSS - Navbar</title>
  <link rel="stylesheet" vite-src="~/main.js" asp-append-version="true" />
  <style type="text/css">
    #menu-toggle:checked + #menu {
      display: block;
    }

    .dropdown:hover .dropdown-menu,
    .dropdown:active .dropdown-menu {
      display: block;
    }
  </style>
</head>
<body class="bg-gray-100 antialiased font-sans">

  <header class="lg:px-16 px-8 bg-green-700 shadow-md py-4 md:py-0">
    <div class="container mx-auto flex flex-wrap items-center">
      <div class="flex-1 flex justify-between items-center">
        <a href="" class="text-xl font-semibold text-green-100 hover:text-white tracking-normal">Tailwind CSS</a>
      </div>

      <label for="menu-toggle" class="pointer-cursor md:hidden block">
        <svg class="fill-current text-gray-300 hover:text-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
             viewBox="0 0 20 20">
          <title>menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </label>
      <input class="hidden" type="checkbox" id="menu-toggle" />

      <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
          <ul class="md:flex items-center justify-between text-base pt-4 md:pt-0">
            <li><a class="md:px-4 py-2 md:py-4 px-0 block text-green-100 hover:text-white md:hover:bg-green-800" href="">About Us</a></li>
            <li><a class="md:px-4 py-2 md:py-4 px-0 block text-green-100 hover:text-white md:hover:bg-green-800" href="">Treatments</a></li>
            <li><a class="md:px-4 py-2 md:py-4 px-0 block text-green-100 hover:text-white md:hover:bg-green-800" href="">Blog</a></li>
            <li><a class="md:px-4 py-2 md:py-4 px-0 block text-green-100 hover:text-white md:hover:bg-green-800" href="">Contact Us</a></li>
            <li class="dropdown inline-block relative w-full md:w-auto md:mb-0 mb-2">
              <a class="md:px-4 py-2 md:py-4 px-0 block text-green-100 hover:text-white md:hover:bg-green-800 inline-flex items-center">
                <span class="mr-1">Dropdown</span>
                <svg class="fill-current h-4 w-4 mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                </svg>
              </a>
              <ul class="dropdown-menu absolute z-50 md:right-0 hidden text-gray-700 md:-mt-4 md:pt-3 pt-1 shadow-lg">
                <li class="">
                  <a class="rounded-t bg-white hover:bg-gray-100 py-2 px-4 block whitespace-no-wrap"
                     href="">Testing Link One</a>
                </li>
                <li class="">
                  <a class="bg-white hover:bg-gray-100 py-2 px-4 block whitespace-no-wrap"
                     href="">
                    Testing Link
                    Two
                  </a>
                </li>
                <li class="">
                  <a class="rounded-b bg-white hover:bg-gray-100 py-2 px-4 block whitespace-no-wrap"
                     href="">Testing Link Three, Nice!</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="md:ml-4 flex items-center justify-start pointer-cursor">
                <img class="rounded-full w-6 h-6 bg-green-800" src="https://unavatar.now.sh/dalton@sutton.io">
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>


  @RenderBody()


  <footer class="lg:px-16 px-8 bg-green-800 py-10 pb-15 shadow-md">

    <div class="container mx-auto flex flex-wrap">
      <div class="w-full md:w-3/6">

        <div class="text-green-100 mb-3 md:mb-0 pr-0 md:pr-10">
          <span class="text-xl text-green-100">Tailwind CSS</span>
          <p class="text-sm mt-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis ipsum nec finibus
            luctus. Sed tempus ultricies
            leo eget dignissim. Aliquam ac sapien ornare, vestibulum dui eget, varius libero. Sed ut risus posuere,
            vestibulum quam
            vitae, dictum sem.
          </p>

          <form class="my-4">
            <span class="text-lg text-green-100">Newsletter</span>
            <div class="flex mt-2">
              <input class="flex-1 shadow appearance-none border rounded w-full py-2 px-3 mr-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                     id="email" type="email" placeholder="Email">
              <button class="bg-green-600 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                      type="button">
                Sign Up
              </button>
            </div>
          </form>

        </div>

      </div>
      <div class="w-full md:w-1/6">

        <div class="text-green-100 mb-3 md:mb-0">
          <span class="text-lg">Links 1</span>
          <ul class="">
            <li class="mt-2">
              <a href="" class=" text-green-100 hover:text-white">FAQ</a>
            </li>
            <li class="mt-2">
              <a href="" class=" text-green-100 hover:text-white">Help</a>
            </li>
            <li class="mt-2">
              <a href="" class=" text-green-100 hover:text-white">Support</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="w-full md:w-1/6">

        <div class="text-green-100 mb-3 md:mb-0">
          <span class="text-lg">Links 2</span>
          <ul class="">
            <li class="mt-2">
              <a href="" class=" text-green-100 hover:text-white">FAQ</a>
            </li>
            <li class="mt-2">
              <a href="" class=" text-green-100 hover:text-white">Help</a>
            </li>
            <li class="mt-2">
              <a href="" class=" text-green-100 hover:text-white">Support</a>
            </li>
          </ul>
        </div>

      </div>
      <div class="w-full md:w-1/6">

        <div class="text-green-100 mb-3 md:mb-0">
          <span class="text-lg">Links 3</span>
          <ul class="">
            <li class="mt-2">
              <a href="" class=" text-green-100 hover:text-white">FAQ</a>
            </li>
            <li class="mt-2">
              <a href="" class=" text-green-100 hover:text-white">Help</a>
            </li>
            <li class="mt-2">
              <a href="" class=" text-green-100 hover:text-white">Support</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </footer>
  <script type="module" vite-src="/main.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts",required:false)
  

</body>
</html>