@inherits UmbracoViewPage;

<footer class="lg:px-16 px-8 bg-green-800 py-10 pb-15 shadow-md">

  <div class="container mx-auto flex flex-wrap">
    <div class="w-full md:w-3/6">

      <div class="text-green-100 mb-3 md:mb-0 pr-0 md:pr-10">
        <span class="text-xl text-green-100">Tailwind CSS</span>
        <p class="text-sm mt-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis ipsum nec finibus
          luctus. Sed tempus ultricies
          leo eget dignissim. Aliquam ac sapien ornare, vestibulum dui eget, varius libero. Sed ut risus posuere,
          vestibulum quam
          vitae, dictum sem.
        </p>

        <form class="my-4">
          <span class="text-lg text-green-100">Newsletter</span>
          <div class="flex mt-2">
            <input class="flex-1 shadow appearance-none border rounded w-full py-2 px-3 mr-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="email" type="email" placeholder="Email">
            <button class="bg-green-600 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button">
              Sign Up
            </button>
          </div>
        </form>

      </div>

    </div>
    <div class="w-full md:w-1/6">

      <div class="text-green-100 mb-3 md:mb-0">
        <span class="text-lg">Links 1</span>
        <ul class="">
          <li class="mt-2">
            <a href="" class=" text-green-100 hover:text-white">FAQ</a>
          </li>
          <li class="mt-2">
            <a href="" class=" text-green-100 hover:text-white">Help</a>
          </li>
          <li class="mt-2">
            <a href="" class=" text-green-100 hover:text-white">Support</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="w-full md:w-1/6">

      <div class="text-green-100 mb-3 md:mb-0">
        <span class="text-lg">Links 2</span>
        <ul class="">
          <li class="mt-2">
            <a href="" class=" text-green-100 hover:text-white">FAQ</a>
          </li>
          <li class="mt-2">
            <a href="" class=" text-green-100 hover:text-white">Help</a>
          </li>
          <li class="mt-2">
            <a href="" class=" text-green-100 hover:text-white">Support</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="w-full md:w-1/6">

      <div class="text-green-100 mb-3 md:mb-0">
        <span class="text-lg">Links 3</span>
        <ul class="">
          <li class="mt-2">
            <a href="" class=" text-green-100 hover:text-white">FAQ</a>
          </li>
          <li class="mt-2">
            <a href="" class=" text-green-100 hover:text-white">Help</a>
          </li>
          <li class="mt-2">
            <a href="" class=" text-green-100 hover:text-white">Support</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</footer>